@import-normalize;
@import "./_var";
@font-face {
  font-family: "Gandhi Sans Regular";
  font-style: normal;
  font-weight: 400;
  src: local("Gandhi Sans Bold"),
    url("/assets/fontes/GandhiSans-Regular.otf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Gandhi Sans Bold";
  font-style: normal;
  font-weight: 600;
  src: local("Gandhi Sans Bold"),
    url("/assets/fontes/GandhiSans-Bold.otf") format("truetype");
  font-display: swap;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-image: linear-gradient($azul-escuro, $azul-claro);
  box-sizing: border-box;
  font-family: $fonte-padrao-regular;
}

body::-webkit-scrollbar {
  width: 3px;
}
body::-webkit-scrollbar-track {
  background: linear-gradient($azul-escuro, $azul-claro);
}
body::-webkit-scrollbar-thumb {
  background-color: $azul-claro;
  border-radius: 20px;
}
